{{!
    @template quiz_livequizmonitor/password_modal_body

    Showing the Quiz passport in the live quiz monitor report.

    Example context (json):
    {
        "quizpassword": "secret123"
    }
}}

<div class="text-center">
    <div class="h3">
        {{quizpassword}}
    </div>
</div>
